<div class="container">
	<div class="jumbotron">
		<h1>ActivityPverlord</h1>
		<h2> ... tracking user activity better than the NSA since 1989.</h2>
		<a href="user/new" class="btn btn-lg btn-success">Sign up now !</a>
	</div>

</div>